*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark: #000000;
  --success: #28a745;
  --white: white;
  --secondary: #17a2b8;
  --grey: #707070;
  --ft-light: 300;
  --ft-medium: 500;
}

* {
  margin: 0px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  
}

body{
  background-color: var(--dark);
}

.logo-viajes{
    width: 30px;
    height: 30px;
}

hr{
  background-color: var(--secondary);
}

.icon-box{
  background-color: var(--secondary);
}

.card{
  background-color: var(--secondary);
}

